# This requirements file lists all dependencies for this project (including testing dependencies).
#
# Run "pip install --upgrade --target=app/lib -r dev_requirements.txt" to install these dependencies
# in this project's app/lib/ directory.  The "lib" directory is added to "sys.path"
# by "appengine_config.py".

webtest

# Include all production requirements.
-r requirements.txt
